#stil{
    font-size: 25px;
}
.stil10{
    font-size: 30px;
}
a[href*="hd"] {
    color: green;
}
a[href$="stortorget"] {
    color: red;
}
a[href$="12z"] {
    color: black;
}
h1{
    background-color: grey;
}
body p{
    background-color: red;
}
div p{
    background-color: green;
}
div ~ p{
    background-color: yellow;
}
div + p{
    background-color: pink;
}